* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.nav-list{
  width: 100%;
  padding: 30px 20px;
  display: flex;
  justify-content: flex-end;
  background-color: rgb(224, 78, 214);
}

.nav-list-item{

  height: 70px;
  background-color: pink;
  list-style: none;
  margin: 0 10px;
}

.nav-list > .nav-list-item {
  flex-basis: 140px;
  }

.nav-list > :first-child {
margin-right: auto;
}



footer{
  width: 100%;
  height: 160px;
  padding: 20px;
  background-color: rgb(0, 179, 255);
}

.top{

  width: 100%;
  height: 60px;
  display: flex;
  justify-content: flex-end;
}

.bottom{

  width: 100%;
  height: 60px;

  display: flex;
  justify-content: center;
}

.footer-1 , .footer-2,.footer-3{
  background-color: rgb(127, 206, 255);
  flex-basis: 45%;
  max-width: 600px;
  height: 40px;
  margin: 10px;
}

.top > :first-child{
  margin-right: auto;
}